.lightblue{
    color: lightblue;
}

#thebody{

    width: 80%;
    background-color: rgb(128, 178, 240);

    float: right;
}



h3{
    
    color: yellow;
    text-align: center;
    position: relative;
    color: yellow;
    line-height: 1.4;
    -webkit-box-reflect: below -10px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 10%,rgba(0, 0, 0, 0.6));

}
h2{
     
    text-align: center;
    text-shadow: 0 0 10px white,
    0 0 10px orange,
    0 0 10px orange,
    0 0 20px orange,
    0 0 20px orange,
    0 0 30px orange,
    0 0 49px orange;
    font-size: 30px;
    color: black;
    
}
h1{
    text-align: center
    
}
img{
    width: 50%;
  margin: auto;
  display: block;
}

   
#lighter{
    width: 20%;
    background-color:orange;
    float: left;
    position: fixed;
    left: 0%;
    height: 98%;
}

#gamemodelighter{
    color: red;

}