.lightblue{
    color: lightblue;
}

#thebody{
    width: 70%;
    background-color: rgb(180, 199, 224);
    float: right;
}
#lighter{
    width: 30%;
    background-color: rgb(144, 213, 238);
    float: left;
}
h3{
    
    color: yellow;
    text-align: center;

}
h2{
    text-decoration:underline;
    text-decoration-color: rgb(0, 60, 255);
    text-align: center;

}
h1{
    text-align: center

}
img{
    width: 50%;
  margin: auto;
  display: block;
}
p{
   
}