.lightblue{
    color: lightblue;
}

#thebody{
    width: 80%;
    background-color: lightcoral;
    float: right;
}

#lighter{
    width: 20%;
    background-color: lightgreen;
    float: left;
    position: fixed;
    left: 0%;
    height: 98%;

}

h6{
    font-size: 300px;
}

#testlighter{
    color: red;
}

a{
    text-decoration-line: none;
}

#whatbutton{
    width: 95%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    white-space: normal; 
    cursor: pointer;
    background-color: lightblue;
    border-radius: 1em; 
    border-width: 0.05em;
}


#whatbutton:hover {
    background-color: rgb(214, 245, 255);
    border-color: gray;
 }